<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="">
</head>
<body>

    <div class="container">  
      <h1 class="text-center mt-5 mb-5">Lista de productos</h1>
    </div>
    
    <div class="container">
        <div class="row row-col-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2" >
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center"> Alta producto</h5>
                    </div>
                    <div class="card-body">
                        <form action="/products" method="POST">
                            <label>Nombre</label>
                            <input type="text" class="form-control" name ="nombre"> 
                            <label>Precio</label>
                            <input type="text" class="form-control" name ="precio"> 
                            <label>Stock</label>
                            <input type="text" class="form-control" name ="stock"> 
                            <button class="btn btn-primary" type="submit">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <h5 class="text-center"> Lista De Productos</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <div class="row row-col-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-3">
                            {% for producto in productos %}

                              <div class="col">
                                <li class="list-group-item mb-3">
                                    <form action="/editar/{{producto.nombre}}" method="POST">
                                        <input type="text" class="from-control" value="{{producto.nombre}}" name ="nombre">
                                        <small>Cantidad</small>
                                        <input type="text" class="from-control" value="{{producto.stock}}" name ="stock">
                                        <small>Precio</small>
                                        <input type="text" class="from-control" value="{{producto.precio}}" name ="precio">
                                        <button class="btn btn-primary btn-sm" type="submit">Editar</button>
                                        <a href="{{url_for{'eliminar',producto_nombre=producto.nombre}}}" class="btn btn-danger btn-sm">Eliminar</a>
                                    </form>
                                </li>
                              </div>

                            {%endfor%}
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
